.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.let .CodeMirror-line::before {
  content: "let arr = ";
}

.const .CodeMirror-line::before {
  content: "const arr = ";
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.CodeMirror-code {

  text-align: left;
}
/* 
TextEditor */

.top-pan {
  margin-left: 50px;
  width: 50%;
  padding: 0.8rem;
}

.pan {
  display: flex;
  padding: 5px;
  background-color: lightslategray;
  border: solid black 2px;
  margin-left: 50px;
  margin-right: 692px;
  width: 50%;
}
.pan-title {
  padding: 5px;
  background-color: teal; 
  color: white;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.CodeMirror {
  height: 100% !important;
}
.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}


/* Arrays CSS */

.arraySlide {
  background-color: #ebbfff;
  min-height: 100%;
}


/* Objects CSS */

.objectSlide {
  background-color: #faafd6;
}